<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sistema</title>
    <th:block th:fragment="common_head">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    </th:block>
    <th:block th:replace="~{this :: common_head}"></th:block>
    
    <th:block th:fragment="common_scripts">
        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </th:block>
</head>
<body>
<main class="container py-4">
    <th:block th:fragment="content"></th:block>
    <th:block th:replace="~{this :: common_scripts}"></th:block>
    
    <footer class="text-center text-muted small mt-5">
        <hr/>
        <div>PUC Minas - Sistema de Aluguel de Carros</div>
    </footer>
</main>
</body>
</html>


