<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Status do Pedido de Aluguel</title>
    <th:block th:replace="fragments/layout :: common_head"></th:block>
    <meta charset="UTF-8" />
</head>
<body>
<nav style="margin-bottom: 20px;">
    <a class="btn btn-primary" th:href="@{/clientes}">Clientes</a>
    <a class="btn btn-primary" th:href="@{/pedidos}">Pedidos</a>
    <a class="btn btn-success" th:href="@{/pedidos/novo}">Novo Pedido</a>
</nav>
<section class="container py-4">
    <h1>Status do Pedido de Aluguel</h1>
    <dl class="row">
    <dt class="col-sm-2">ID</dt><dd class="col-sm-10" th:text="${pedidoAluguel.id}"></dd>
    <dt class="col-sm-2">Cliente</dt><dd class="col-sm-10" th:text="${pedidoAluguel.cliente.nomeCompleto}"></dd>
    <dt class="col-sm-2">Carro</dt><dd class="col-sm-10" th:text="${pedidoAluguel.carro}"></dd>
    <dt class="col-sm-2">Data do Pedido</dt><dd class="col-sm-10" th:text="${pedidoAluguel.dataPedido}"></dd>
    <dt class="col-sm-2">Status</dt><dd class="col-sm-10" th:text="${pedidoAluguel.status}"></dd>
    </dl>
    <a class="btn btn-secondary" th:href="@{/clientes}">Voltar</a>
</section>
<th:block th:replace="fragments/layout :: common_scripts"></th:block>
</body>
</html>
